.therapyDetail {
    border: 1px solid #ddd;
    transition: .5s;
    background-color: #DFE9F2;
}

.therapyDetail:hover {
    box-shadow: 0 0 10px 10px #ddd;
    background-color: white;
    transform: translateY(-5px);
    transition: .5s ease-in-out;
}

.therapyDetail h5, .therapyDetail p {
    margin: 0;
}

.therapyDetail-text {
    line-height: 24px;
    font-size: 15px;
}

.make-appointment-link {
    text-decoration: none;
    padding: 0px 20px;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
    border-bottom: 4px solid transparent;
    transition: .5s;
}

.make-appointment-btn {
    padding: 0.360rem 1.6rem;
    background-color: #EA6077;
    border: none;
    font-weight: 500;
}