.therapyDetail {
    border: 1px solid #ddd;
    transition: .5s;
    background-color: #DFE9F2;
}

.therapyDetail:hover {
    box-shadow: 0 0 10px 10px #ddd;
    background-color: white;
    transform: translateY(-5px);
    transition: .5s ease-in-out;
}

.therapyDetail h5, .therapyDetail p {
    margin: 0;
}

.therapyDetail-text {
    line-height: 24px;
    font-size: 15px;
}