.about-text {
    font-size: 40px;
    color: #EA6077;
}

.learn-more-button {
    background-color: #08878D;
    border: none;
    font-weight: 500;
    border-radius: 20px;
}

.learn-more-button {
    background-color: #EA6077;
}