.top-banner {
    background-color: #C4EED6;
    height: 70vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.top-banner h1 {
    font-weight: 700;
    color: #EA6077;
}

.header-button {
    background-color: #08878D;
    border: none;
    font-weight: 500;
}

.header-button:hover {
    background-color: #EA6077;
}