.navBar-link {
    text-decoration: none;
    padding: 0px 20px;
    font-weight: 500;
    font-size: 1.2em;
    color: black;
    border-bottom: 4px solid transparent;
    transition: .5s;
}

.navBar-link:hover {
    text-decoration: none;
    color: black;
    border-bottom: 4px solid grey;
}

.navBar-button {
    padding: 0.360rem 1.6rem;
    background-color: #EA6077;
    border: none;
    font-weight: 500;
}

.navBar-button:hover{
    background-color: #08878D;
}